* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.courses-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 0;
    flex-wrap: wrap;
}